<h2 class="w-full sm:w-auto flex text-lg font-medium mr-auto">
    {% if 'admin/programs' in request.path and request.user.is_superuser %}
        Program List
    {% elif 'admin/courses' in request.path and request.user.is_superuser %}
        Course List
    {% elif 'admin/lecturers' in request.path and request.user.is_superuser %}
        Lecturers List
    {% elif request.user.is_staff and '/lecturer/assignments' in request.path %}
        All Assignments
    {% endif %}
</h2>
<div class="w-full sm:w-auto flex sm:mt-0">
    {% include 'components/messages.html' %}
</div>
<div class="w-full sm:w-auto flex sm:mt-0 ml-auto">
    {% include 'components/search_filter_bar.html'%}
</div>