{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags == 'success' %} alert-success-soft {% else %} alert-danger-soft {% endif %} alert-dismissible show flex items-center mt-5 intro-x"
    role="alert"> <i data-lucide="{% if message.tags == 'success' %}alert-circle{% else %}alert-octagon{% endif %}"
        class="w-6 h-6 mr-2"></i> {{ message }}<button type="button" class="btn-close text-white"
        data-tw-dismiss="alert" aria-label="Close"> <i data-lucide="x" class="w-4 h-4"></i>
    </button>
</div>
{% endfor %}
{% endif %}