<div class="flex justify-between w-full">
    {% if not request.user.is_staff and not request.user.is_superuser %}
    <div class="flex items-center sm:w-auto mr-auto">
        <div class="w-48 relative text-slate-500">
            <input type="text" class="form-control w-48 box pr-10" placeholder="Search">
            <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-lucide="search"></i>
        </div>
        <select class="form-select box ml-2">
            <option>Status</option>
            <option>Ongoing</option>
            <option>Completed</option>
        </select>
    </div>
    {% endif %}

    {% if not request.user.is_staff %}
    <div class="sm:w-auto flex ml-auto">
        <button class="btn zoom-in border-dashed border-primary dark:border-darkmode-400"  data-tw-toggle="modal" data-tw-target="#{{ data.modal.id }}">
            <i data-lucide="plus" class="w-6 h-6 rounded-full text-white bg-primary"></i>
            <span class="mx-2 hidden sm:inline">Add {{ data.modal.title }}</span>
        </button>
    </div>
    {% elif request.user.is_staff and '/lecturer/assignments' in request.path %}
        {% if data.assignments|length != 0 %}
        <div class="sm:w-auto flex ml-auto">
            <button type="button" class="btn zoom-in border-dashed border-primary dark:border-darkmode-400" data-tw-toggle="modal" data-tw-target="#add-new-assignment">
                <span class="mx-2 hidden sm:inline">New Assignment</span>
                <i data-lucide="plus" class="text-primary h-6"></i>
            </button>
        </div>
        {% endif %}
    {% endif %}
</div>