{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
<div class="intro-y flex items-center mt-8">
    {% include 'components/admin_manage_header.html' %}
</div>
<div class="col-span-12 mt-6">
    {% if data.assignments|length != 0 %}
    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
        <table class="table table-report sm:mt-2">
            <thead>
                <tr>
                    <th class="whitespace-nowrap">#</th>
                    <th class="whitespace-nowrap">Name</th>
                    <th class="whitespace-nowrap">Course</th>
                    <th class="whitespace-nowrap">Status</th>
                    <th class="whitespace-nowrap">Due Date</th>
                    <th class="text-center whitespace-nowrap">ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                {% for assignment in data.assignments %}
                <tr class="intro-x">
                    <td class="whitespace-nowrap">
                        {{ forloop.counter }}
                    </td>
                    <td class="hidden">
                        {{ assignment.id }}
                    </td>
                    <td class="whitespace-nowrap">
                        {{ assignment.title }}
                    </td>
                    <td class="whitespace-nowrap">{{ assignment.course.name }}</td>
                    <td class="whitespace-nowrap">
                        {% if assignment.status == "active" %}
                        <div class="text-success">Active</div>
                        {% else %}
                        <div class="text-danger">Expired</div>
                        {% endif %}
                    </td>
                    <td class="whitespace-nowrap">
                        {{ assignment.due_date }}
                    </td>
                    <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">
                            <a class="flex items-center mr-3" href=""> <i data-lucide="check-square"
                                    class="w-4 h-4 mr-1"></i> Edit </a>
                                    <a class="flex items-center text-danger whitespace-nowrap" href="javascript:;"
                                    data-tw-toggle="modal" data-tw-target="#delete-modal-preview" id="delete__form-btn">
                                    <i data-lucide="x-square" class="w-4 h-4 mr-1"></i> Delete
                                </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
        <div class="grid grid-cols-2 gap-6">
            <div class="intro-x col-span-12 mx-auto">
                <div class="min-h-screen flex flex-col justify-center items-center">
                    <div class="text-center">
                        <i data-lucide="shield-alert" class="w-32 h-32 font-medium text-secondary"></i>
                    </div>
                    <div class="text-2xl mt-5">No Assignment Found</div>
                    <button class="btn border-dashed border-primary dark:border-darkmode-400 mt-5" data-tw-toggle="modal" data-tw-target="#add-new-assignment">
                        <div class="flex items-center">
                            <a href="javascript:;"
                                class="ml-auto mr-1">
                                <i data-lucide="plus" class="w-6 h-6 rounded-full text-white bg-primary"></i>
                            </a>
                            <span class="mr-auto ml-1">Add New</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>


<div id="add-new-assignment" class="modal" data-tw-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" id="content">
        <div class="modal-content"> <a data-tw-dismiss="modal" href="javascript:;"> <i data-lucide="x" class="w-8 h-8 text-slate-400"></i> </a>
            <div class="modal-body px-5 py-10">
                <form method="POST" id="assignment__form" enctype="multipart/form-data">
                    <div class="pos intro-y grid grid-cols-12 gap-5 mt-5">
                        <!-- BEGIN: Post Content -->
                        <div class="intro-y col-span-12 lg:col-span-8">
                            <input type="text" class="intro-y form-control py-3 px-4 box pr-10" placeholder="Title" id="assignment__form__title">
                            <div class="post intro-y overflow-hidden box mt-5">
                                <ul class="post__tabs nav nav-tabs flex-col sm:flex-row bg-slate-200 dark:bg-darkmode-800" role="tablist">
                                    <li class="nav-item active">
                                        <button type="button" title="Compose Assignment" data-tw-toggle="tab" data-tw-target="#compose" class="nav-link tooltip w-full sm:w-40 py-4 active" id="compose-tab" role="tab" aria-controls="compose" aria-selected="true"> <i data-lucide="code" class="w-4 h-4 mr-2"></i> Content </button>
                                    </li>
                                    <li class="nav-item">
                                        <button type="button" title="Upload Assignment" data-tw-toggle="tab" data-tw-target="#upload" class="nav-link tooltip w-full sm:w-40 py-4" id="upload-tab" role="tab" aria-selected="false"> <i data-lucide="file-plus" class="w-4 h-4 mr-2"></i> Upload </button>
                                    </li>
                                </ul>
                                <div class="post__content tab-content">
                                    <div id="compose" class="tab-pane p-5 active" role="tabpanel" aria-labelledby="compose-tab">
                                        <div class="border border-slate-200/60 dark:border-darkmode-400 rounded-md p-3">
                                            <textarea name="assignment__form__content" id="assignment__form__content" class="textarea"></textarea>  
                                            <script>
                                                let editor;

                                                ClassicEditor
                                                    .create(document.querySelector('#assignment__form__content'))
                                                    .then( newEditor => {
                                                        editor = newEditor;
                                                    } )
                                                    .catch(error => {
                                                        console.error(error);
                                                    });
                                            </script>                    
                                        </div>
                                    </div>
                                    <div id="upload" class="tab-pane" role="tabpanel" aria-labelledby="upload-tab">
                                        <div class="mt-8">
                                            <div class="border-2 border-dashed dark:border-darkmode-400 rounded-md py-4">
                                                <div class="flex px-4 justify-center items-center">
                                                    <div class="py-5 mb-5 font-medium text-slate-500 dark:text-slate-300 text-2xl">
                                                        <div class="flex justify-center h-54 mb-3">
                                                            <i data-lucide="file" class="w-52 h-52" id="placeholder"></i>
                                                            <iframe src="" frameborder="10" class="w-full hidden" id="preview"></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="px-4 flex items-center cursor-pointer relative">
                                                    <i data-lucide="file-plus" class="w-4 h-4 mr-2"></i> <span class="text-primary mr-1">Upload a file</span> or drag and drop 
                                                    <input type="file" class="w-full h-full top-0 left-0 absolute opacity-0" accept="application/pdf" name="assignment__form__upload" id="assignment__form__upload">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END: Post Content -->
                        <!-- BEGIN: Post Info -->
                        <div class="col-span-12 lg:col-span-4">
                            <div class="intro-x box p-5">
                                <div>
                                    <label class="form-label">Written By</label>
                                    <div class="btn w-full btn-outline-secondary dark:bg-darkmode-800 dark:border-darkmode-800 flex items-center justify-start" role="button" aria-expanded="false" data-tw-toggle="dropdown">
                                        <div class="w-6 h-6 image-fit mr-3">
                                            <img class="rounded" alt="Midone - HTML Admin Template" src="data:image/*;base64,{{ request.user.image.decode }}">
                                        </div>
                                        <div class="truncate" name="assignment__form__lecturer__name">{{ request.user.first_name }} {{ request.user.last_name }}</div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <label for="assignment__form__date" class="form-label">Due Date</label>
                                    <input id="assignment__form__date" type="text" class="datepicker form-control" data-single-mode="true" name="assignment__form__date">
                                </div>
                                <div class="mt-3">
                                    <label for="assignment__form__course" class="form-label">Course</label>
                                    <select id="assignment__form__course" class="form-select w-full" name="assignment__form__course">
                                        <option selected>Select Course</option>
                                        {% for course in data.courses %}
                                            <option value="{{ course.id }}">{{ course.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mt-3">
                                    <label for="assignment__form__total" class="form-label">Total</label>
                                    <select id="assignment__form__total" class="form-select w-full" name="assignment__form__total">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                                <div class="form-check form-switch flex flex-col items-start mt-3">
                                    <label for="assignment__form__group" class="form-check-label ml-0 mb-2">Group Assignment</label>
                                    <input id="assignment__form__group" class="form-check-input" type="checkbox" name="assignment__form__group">
                                </div>
                                <div class="form-check form-switch flex flex-col items-start mt-3">
                                    <label for="assignment__form__plagiarism__checker" class="form-check-label ml-0 mb-2">Plagiarism Checker</label>
                                    <input id="assignment__form__plagiarism__checker" class="form-check-input" type="checkbox" name="assignment__form__plagiarism__checker">
                                </div>
                            </div>
                        </div>
                        <!-- END: Post Info -->
                    </div>
                    <div class="sm:w-auto flex justify-end mt-5">
                        <button type="button" class="btn btn-outline-primary hover:btn-primary" id="assignment__form-btn">
                            <span class="mx-2 hidden sm:inline">Submit</span>
                            <i data-lucide="send" class="text-primary h-6"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="flex justify-center my-auto mx-auto fixed z-50 top-0 bottom-0 right-0 left-0 hidden" id="loader">
        <div class="loader"></div>
    </div>
</div>
<!-- END: Content -->
{% include 'components/slider_modal.html' %}
{% include 'components/delete_modal.html' %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        function submitAssignmentForm() {
            
            // Create a FormData object
            var formData = new FormData();
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            
            // Append file input to FormData if it exists
            
            var image = $("#assignment__form__upload")[0].files.length > 0 ? $("#assignment__form__upload")[0].files[0] : null;
            if (image) {
                formData.append('assignment__form__upload', image);
            }

            // Append text fields to FormData
            formData.append('assignment__form__content', editor.getData());
            formData.append('assignment__form__title', $("#assignment__form__title").val());
            formData.append('assignment__form__course', $("#assignment__form__course").val());
            formData.append('assignment__form__total', $("#assignment__form__total").val());
            formData.append('assignment__form__group', $("#assignment__form__group").is(':checked'));
            formData.append('assignment__form__date', $("#assignment__form__date").val());
            formData.append('assignment__form__plagiarism__checker', $("#assignment__form__plagiarism__checker").is(':checked'));

            alert($("#assignment__form__plagiarism__checker").is(":checked"));

            // Send the AJAX request
            $.ajax({
                type: "POST",
                url: "{% url 'create_assignment' %}",
                data: formData,
                processData: false,  // Prevent jQuery from processing the data
                contentType: false,  // Prevent jQuery from setting contentType
                success: function (response) {
                    $("#content").removeClass("blur");
                    $("#loader").addClass("hidden");
                    
                    $("#notification-content").text(response["message"]);
                    $("#notification-action").text("Redirecting ");
                    Toastify({
                        node: $("#notification").clone().removeClass("hidden")[0],
                        duration: 3000,
                        newWindow: true,
                        close: true,
                        gravity: "top",
                        position: "right",
                        stopOnFocus: true,
                    }).showToast();

                    setTimeout(function () {
                        window.location.href = "{% url 'lecturer_assignments' %}";
                    }, 3000);
                },
                error: function (response) {
                    $("#content").removeClass("blur");
                    $("#loader").addClass("hidden");

                    $("#notification-content").text(response.responseJSON.message);
                    Toastify({
                        node: $("#notification").clone().removeClass("hidden")[0],
                        duration: 3000,
                        newWindow: true,
                        close: true,
                        gravity: "top",
                        position: "right",
                        stopOnFocus: true,
                    }).showToast();
                }
            });
        }

        $("#assignment__form-btn").click(function () {
            $("#content").addClass("blur");
            $("#loader").removeClass("hidden");

            submitAssignmentForm();
        })

        $("#assignment__form__upload").change(function () {
            var pdf = this.files[0];
            var prevPdfUrl= $("#preview").attr("src");

            if (pdf) {
                var pdfUrl = URL.createObjectURL(pdf);
                $("#preview").attr("src", pdfUrl);
                $("#placeholder").addClass("hidden");
                $("#preview").removeClass("hidden");
            } else if (prevPdfUrl) {
                // If no image is selected but there was a previous image, revert to the previous image
                $("#preview").attr("src", prevPdfUrl);
            } else {
                // If no image is selected and there was no previous image, clear the preview
                $("#preview").removeAttr("src");
                // $("#image__clear-btn").addClass("hidden");
            }
        });

        $(document).on("click", "#delete__form-btn", function (event) {
            event.preventDefault();

            // Extract data from the clicked row
            var rowData = $(this).closest('tr').find('td').map(function () {
                return $(this).text();
            }).get();

            // Update the modal content with the extracted data
            $("#delete__model-content").text(rowData[1]);
            $("#delete__model-id").val(rowData[1]);

            // Attach click event listener to the confirm button inside the modal
            $("#delete__confirm-btn").off("click").on("click", function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "{% url 'delete_assignment' %}",
                    data: $("#delete__form").serialize(),
                    success: function (response) {
                        $("#notification-content").text(response['message']);
                        $("#notification-action").text("Redirecting ");
                        Toastify({
                            node: $("#notification").clone().removeClass("hidden")[0],
                            duration: 3000,
                            newWindow: true,
                            close: true,
                            gravity: "top",
                            position: "right",
                            stopOnFocus: true,
                        }).showToast();

                        setTimeout(function () {
                            window.location.href = "{% url 'lecturer_assignments' %}";
                        }, 3000);
                    },
                    error: function (response) {
                        $("#notification-content").text(response.responseJSON.message);
                        Toastify({
                            node: $("#notification").clone().removeClass("hidden")[0],
                            duration: 3000,
                            newWindow: true,
                            close: true,
                            gravity: "top",
                            position: "right",
                            stopOnFocus: true,
                        }).showToast();
                    }
                });
            });
        });
    });
</script>
{% endblock %}